<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>eCommerce</strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a [routerLink]="['productList']"class="nav-link">Products</a>
          </li>

          <li class="nav-item waves-light" mdbWavesEffect>
            <a [routerLink]="['detail']"class="nav-link">Details</a>
          </li>

          <li class="nav-item waves-light" mdbWavesEffect>
              <a [routerLink]="['productRegister']" class="nav-link">Register</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a [routerLink]="['myShopping']" class="nav-link">My Shopping</a>
          </li>

      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
                <a [routerLink]="['myShopping']"  class="nav-link"><i class="fas fa-shopping-cart"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
<router-outlet></router-outlet>

</main>
<!-- /.Main -->

