<hr class="my-5">
  <div class="row" >
    <div class="col-lg-6" style="margin-left: 3%">
      <a class="pink-text">
        <h6 class="font-weight-bold mb-3"><mdb-icon far icon="image"></mdb-icon>Detail</h6>
      </a>
      <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
        provident.</p>
      <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
      <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
    </div>
 
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>

<hr class="my-5">
