
  
  <div class="mx-auto" style="width: 60%;">
          
        <mdb-card>
        
                <mdb-card-header class="info-color white-text text-center py-4 blue-gradient">
                  <h5>
                    <strong>Register Product</strong>
                  </h5>
                </mdb-card-header>
              
                <mdb-card-body class="px-lg-5 pt-0">
              
                  <form class="text-center" style="color: #757575;"  (ngSubmit)="onSubmit()">
              
                      <div class="md-form">
                        <input type="email" id="materialContactFormEmail" class="form-control"
                        mdbInput>
                        <label for="materialContactFormEmail">Name</label>
                      </div>
                      
                      <div class="md-form mt-20">
                        <input type="text"  id="materialContactFormName" class="form-control"
                          mdbInput>
                        <label for="materialContactFormName">Description</label>
                      </div>
                
                    <div class="md-form">
                      <input type="email" id="materialContactFormEmail" class="form-control"
                        mdbInput>
                      <label for="materialContactFormEmail">Price</label>
                    </div>

                    <div class="md-form">
                        <input type="email" id="materialContactFormEmail" class="form-control"
                          mdbInput>
                        <label for="materialContactFormEmail">Quantity</label>
                        <a mdbBtn floating="true" size="lg" gradient="peach" mdbWavesEffect>
                            <mdb-icon fas icon="image" (click)="frame.show()"
                            mdbWavesEffect></mdb-icon>
                        </a>
                    </div>
                   

                  
                    <div class="center-btn">
                        <button class="col-md-4" clastype="button" mdbBtn gradient="blue" block="true" rounded="true"
                                mdbWavesEffect>Register
                        </button>
                    </div>
                  </form>
              
                </mdb-card-body>
              
    
    </mdb-card>
</div>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Upload of Image</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

          <div class="container">
              <div class="row">
                  <div class="col-md-6 offset-md-0">
                      <h3>Choose File</h3>            
                      <div class="form-group">
                          <input type="file" name="image" (change)="fileProgress($event)"/>
                      </div>
                      <div *ngIf="fileUploadProgress">
                          Upload progress: {{ fileUploadProgress }}
                      </div>
                      <div class="image-preview mb-3" *ngIf="previewUrl">
                          <img [src]="previewUrl" height="200" />                 
                      </div>
           
                      <div class="mb-3" *ngIf="uploadedFilePath">
                          {{uploadedFilePath}}
                      </div>
                     
                  </div>
              </div>
          </div>      


      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSubmit()" >Submit
          <mdb-icon far icon="gem" class="ml-1"></mdb-icon>
        </a>
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Cancel</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>